<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DpaSlogParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="BASlogParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DpaSlogParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <DpaSlogParser.Properties.Settings>
            <setting name="SQLServerName" serializeAs="String">
                <value>DPM146\SQLEXPRESS</value>
            </setting>
            <setting name="SQLServerUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="SQLServerPwd" serializeAs="String">
                <value>T3kZ!lla</value>
            </setting>
            <setting name="DpaBimDbName" serializeAs="String">
                <value>DPA_BIM_Data</value>
            </setting>
            <setting name="CsvOutputFolder" serializeAs="String">
                <value>C:\SLOG Data</value>
            </setting>
            <setting name="DpaDrivePath2018" serializeAs="String">
                <value>\\Prj3\2018</value>
            </setting>
            <setting name="DaysBack" serializeAs="String">
                <value>7</value>
            </setting>
        </DpaSlogParser.Properties.Settings>
        <BASlogParser.Properties.Settings>
            <setting name="SQLServerName" serializeAs="String">
                <value>tableau\\sqlexpress,1433</value>
            </setting>
            <setting name="SQLServerUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="SQLServerPwd" serializeAs="String">
                <value>Boulder4747</value>
            </setting>
            <setting name="DpaBimDbName" serializeAs="String">
                <value>DpaBimData</value>
            </setting>
            <setting name="CsvOutputFolder" serializeAs="String">
                <value>C:\SLOG Data</value>
            </setting>
            <setting name="DpaDrivePath" serializeAs="String">
                <value>\\davis1\projects</value>
            </setting>
            <setting name="DaysBack" serializeAs="String">
                <value>2</value>
            </setting>
        </BASlogParser.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <DpaSlogParser.Properties.Settings>
            <setting name="DpaDrivePath2017" serializeAs="String">
                <value>\\Prj2\2017</value>
            </setting>
            <setting name="DpaDrivePath2019" serializeAs="String">
                <value>\\Prj4\2019</value>
            </setting>
        </DpaSlogParser.Properties.Settings>
    </userSettings>
</configuration>