<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BASlogParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <BASlogParser.Properties.Settings>
            <setting name="SQLServerName" serializeAs="String">
                <value>tableau\\sqlexpress,1433</value>
            </setting>
            <setting name="SQLServerUser" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="SQLServerPwd" serializeAs="String">
                <value>Boulder4747</value>
            </setting>
            <setting name="DpaBimDbName" serializeAs="String">
                <value>DpaBimData</value>
            </setting>
            <setting name="CsvOutputFolder" serializeAs="String">
                <value>C:\SLOG Data</value>
            </setting>
            <setting name="DpaDrivePath" serializeAs="String">
                <value>\\davis1\projects</value>
            </setting>
            <setting name="DaysBack" serializeAs="String">
                <value>2</value>
            </setting>
        </BASlogParser.Properties.Settings>
    </applicationSettings>
</configuration>